.w-full {
  width: 100%;
}

.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.items-center {
  align-items: center;
}

.text-white {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}
